* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #686de0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 800px;
}

.heading {
    color: #7f7f7f;
    font-size: 10px;
    letter-spacing: 2px;
}

.message {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.click-btn {
    text-align: center;
    width: 220px;
    background-color: #9f68e0;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px 40px;
    cursor: pointer;
}

.click-btn:active {
    transform: scale(0.95);
}